@import "tailwindcss";

.sidebar-link svg{
    color: #9ca3af;
    transition: 0.3s;
}

.active {
    color: #1f2937;
    background-color: #f9fafb;
    border-radius: 5px;
}



.active svg {
    color: #4f46e5;
}

.discount-sorting-container button:hover {
    color: #fff;
    background-color: #4f46e5;
    border-radius: 4px;
    border: none;
    /* padding: 4px; */
}